<div class="todos-wrapper">

    <div class="container">
        <div class="todo-item completed">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todos-text">
                This is a todos text
            </p>
        </div>
        <div class="todo-item">
            <div class="check-box">
                <i class="material-icons-outlined">check</i>
            </div>
            <p class="todos-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta error officiis magni suscipit corporis magnam aliquid quod et porro eius quas facilis accusantium quam quisquam nobis molestias aut, dicta explicabo?
            </p>
        </div>
    </div>
    
</div>
