<div class="tabs">
    <a routerLink = "bookmarks" routerLinkActive = "selected" class="tab bookmark-tab">
        <div class="tab-title">
            <!-- icons go here bookmark, todo and note  -->
            <i class = "material-icons-outlined">bookmarks</i>
        </div>
    </a>

    <!-- <a routerLink ='todos' routerLinkActive = "selected" class="tab todo-tab">
        <div class="tab-title">
            <i class = "material-icons-outlined">check</i>
        </div>
    </a> -->

    <a routerLink = 'notes' routerLinkActive = "selected" class="tab note-tab">
        <div class="tab-title">
            <!-- icons go here bookmark, todo and note  -->
            <i class = "material-icons-outlined">notes</i>
        </div>
    </a>
</div>
